Repository SWM-Cupid/jikting-backend, pull requests merged in 2023-07, with the labels that each got.

#26 [SP-118] 받은 호감 수락 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/like/controller/LikeController.java
  src/main/java/com/cupid/jikting/like/dto/LikeResponse.java
  src/main/java/com/cupid/jikting/like/service/LikeService.java
  src/main/java/com/cupid/jikting/recommend/controller/RecommendController.java
  src/main/java/com/cupid/jikting/recommend/service/RecommendService.java
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/like/controller/LikeControllerTest.java
  src/test/java/com/cupid/jikting/recommend/controller/RecommendControllerTest.java
Labels: feature, docs, refactor, test

#29 [SP-108] 회원 이미지 수정 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#31 [SP-27] 회원 삭제 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/PasswordRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#33 [SP-30] 아이디 찾기 인증번호 발급 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/UsernameSearchRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#35 [SP-110] 아이디 찾기 인증 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/UsernameResponse.java
  src/main/java/com/cupid/jikting/member/dto/VerificationRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#37 [SP-42] 비밀번호 재설정 인증번호 발급 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/PasswordResetRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#49 [SP-101] 아이디 중복 확인 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/UsernameCheckRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#46 [SP-122] 팀 상세 조회(호감 페이지) API 명세서 추가
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/like/controller/LikeController.java
  src/main/java/com/cupid/jikting/like/dto/MemberProfileResponse.java
  src/main/java/com/cupid/jikting/like/dto/TeamDetailResponse.java
  src/main/java/com/cupid/jikting/like/service/LikeService.java
  src/test/java/com/cupid/jikting/like/controller/LikeControllerTest.java
  src/test/java/com/cupid/jikting/recommend/controller/RecommendControllerTest.java
Labels: feature, docs, fix, test

#42 [SP-120] 받은 호감 거절 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/like/controller/LikeController.java
  src/main/java/com/cupid/jikting/like/service/LikeService.java
  src/test/java/com/cupid/jikting/like/controller/LikeControllerTest.java
Labels: feature, docs, test

#54 [SP-102] 닉네임 중복 확인 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/NicknameCheckRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#56 [SP-103] 전화번호 인증번호 발급 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/SignUpVerificationCodeRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#61 [SP-32] 팀 등록 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/dto/TeamRegisterRequest.java
  src/main/java/com/cupid/jikting/team/dto/TeamRegisterResponse.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
Labels: feature, docs, test

#58 [SP-104] 전화번호 인증 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#73 [SP-36] 팀 조회 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/dto/MemberResponse.java
  src/main/java/com/cupid/jikting/team/dto/TeamResponse.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
Labels: feature, docs, test

#67 [SP-105] 회사 이메일 인증번호 발급 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/CompanyVerificationCodeRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#78 [SP-131] 팀 삭제 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
Labels: feature, docs, test

#64 [SP-114] 팀 참여 요청 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
Labels: feature, docs, test

#66 [SP-123] 채팅방 목록 조회 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/chatting/controller/ChattingController.java
  src/main/java/com/cupid/jikting/chatting/dto/ChattingResponse.java
  src/main/java/com/cupid/jikting/chatting/service/ChattingService.java
  src/test/java/com/cupid/jikting/chatting/controller/ChattingControllerTest.java
Labels: feature, docs, test

#71 [SP-128] 번개팅 참여 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/instantmeeting/controller/InstantMeetingController.java
  src/main/java/com/cupid/jikting/instantmeeting/service/InstantMeetingService.java
  src/test/java/com/cupid/jikting/instantmeeting/controller/InstantMeetingControllerTest.java
Labels: feature, docs, test

#75 [SP-119] 팀 수정 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/dto/TeamUpdateRequest.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
Labels: feature, docs, test

#80 [SP-132] 팀원 삭제 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
Labels: feature, docs, test

#69 [SP-111] 회사 이메일 인증 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#85 [SP-124] 채팅방 입장 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/chatting/controller/ChattingController.java
  src/main/java/com/cupid/jikting/chatting/dto/ChattingRoomDetailResponse.java
  src/main/java/com/cupid/jikting/chatting/dto/MemberResponse.java
  src/main/java/com/cupid/jikting/chatting/service/ChattingService.java
  src/test/java/com/cupid/jikting/chatting/controller/ChattingControllerTest.java
Labels: feature, docs, test

#83 [SP-125] 미팅 확정 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/chatting/controller/ChattingController.java
  src/main/java/com/cupid/jikting/chatting/dto/ChattingRoomResponse.java
  src/main/java/com/cupid/jikting/chatting/dto/MeetingConfirmRequest.java
  src/main/java/com/cupid/jikting/chatting/service/ChattingService.java
  src/test/java/com/cupid/jikting/chatting/controller/ChattingControllerTest.java
Labels: feature, docs, test

#63 [SP-136] 스프링 시큐리티 로그인 구현
  build.gradle
  src/main/java/com/cupid/jikting/common/config/SecurityConfig.java
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/common/error/ExpiredJwtException.java
  src/main/java/com/cupid/jikting/common/error/InvalidJwtException.java
  src/main/java/com/cupid/jikting/common/error/JwtException.java
  src/main/java/com/cupid/jikting/common/filter/ExceptionHandlerFilter.java
  src/main/java/com/cupid/jikting/jwt/filter/JwtAuthenticationProcessingFilter.java
  src/main/java/com/cupid/jikting/jwt/service/JwtService.java
  src/main/java/com/cupid/jikting/member/dto/SignupRequest.java
  src/main/java/com/cupid/jikting/member/entity/Gender.java
  src/main/java/com/cupid/jikting/member/entity/Member.java
  src/main/java/com/cupid/jikting/member/entity/Role.java
  src/main/java/com/cupid/jikting/member/filter/CustomJsonUsernamePasswordAuthenticationFilter.java
  src/main/java/com/cupid/jikting/member/handler/LoginFailureHandler.java
  src/main/java/com/cupid/jikting/member/handler/LoginSuccessHandler.java
  src/main/java/com/cupid/jikting/member/repository/MemberRepository.java
  src/main/java/com/cupid/jikting/member/service/LoginService.java
  src/main/resources/application.properties
Labels: feature, docs

#90 [SP-40] CI 구축
  Dockerfile
  src/main/resources/application.properties
Labels: feature, release

#92 [SP-157] 채팅 메시지 전송 기능 구현
  build.gradle
  src/main/java/com/cupid/jikting/chatting/config/WebSocketConfig.java
  src/main/java/com/cupid/jikting/chatting/controller/ChattingController.java
  src/main/java/com/cupid/jikting/chatting/controller/ChattingRoomController.java
  src/main/java/com/cupid/jikting/chatting/dto/ChattingRequest.java
  src/main/java/com/cupid/jikting/chatting/entity/Chatting.java
  src/main/java/com/cupid/jikting/chatting/entity/ChattingRoom.java
  src/main/java/com/cupid/jikting/chatting/entity/MemberChattingRoom.java
  src/main/java/com/cupid/jikting/chatting/repository/ChattingRoomRepository.java
  src/main/java/com/cupid/jikting/chatting/service/ChattingRoomService.java
  src/main/java/com/cupid/jikting/chatting/service/ChattingService.java
  src/main/java/com/cupid/jikting/chatting/service/StompChattingService.java
  src/main/java/com/cupid/jikting/common/controller/ApplicationExceptionHandler.java
  src/test/java/com/cupid/jikting/chatting/controller/ChattingRoomControllerTest.java
  src/test/java/com/cupid/jikting/chatting/service/StompChattingServiceTest.java
Labels: feature, test

#95 [SP-159] 아이디 중복 확인 기능 구현
  src/main/java/com/cupid/jikting/common/config/JpaAuditingConfig.java
  src/main/java/com/cupid/jikting/common/handler/ApplicationExceptionHandler.java
  src/main/java/com/cupid/jikting/member/repository/MemberRepository.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/service/MemberServiceTest.java
Labels: feature, test

#97 [BE] 닉네임 중복 확인 기능 구현
  src/main/java/com/cupid/jikting/chatting/entity/Chatting.java
  src/main/java/com/cupid/jikting/chatting/entity/ChattingRoom.java
  src/main/java/com/cupid/jikting/chatting/entity/MemberChattingRoom.java
  src/main/java/com/cupid/jikting/member/entity/Member.java
  src/main/java/com/cupid/jikting/member/repository/MemberRepository.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/service/MemberServiceTest.java
Labels: feature, test

#93 [SP-138] 스프링 시큐리티 회원가입 구현
  build.gradle
  src/main/java/com/cupid/jikting/common/config/SecurityConfig.java
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/SignupRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/service/MemberServiceTest.java
Labels: feature

#100 [SP-183] Dockerfile 파일 수정
  Dockerfile
Labels: fix

#101 [SP-182] WebMvcTest - Spring Security 관련 에러 해결
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/chatting/service/ChattingService.java
  src/main/java/com/cupid/jikting/common/config/SecurityConfig.java
  src/main/java/com/cupid/jikting/common/entity/Hobby.java
  src/main/java/com/cupid/jikting/common/entity/Personality.java
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/meeting/entity/InstantMeeting.java
  src/main/java/com/cupid/jikting/member/dto/SignupRequest.java
  src/main/java/com/cupid/jikting/member/entity/Company.java
  src/main/java/com/cupid/jikting/member/entity/Gender.java
  src/main/java/com/cupid/jikting/member/entity/MemberProfile.java
  src/main/java/com/cupid/jikting/member/repository/MemberProfileRepository.java
  src/main/java/com/cupid/jikting/member/repository/MemberRepository.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/main/java/com/cupid/jikting/team/entity/Team.java
  src/main/resources/application.properties
  src/test/java/com/cupid/jikting/TestSecurityConfig.java
  src/test/java/com/cupid/jikting/chatting/controller/ChattingRoomControllerTest.java
  src/test/java/com/cupid/jikting/like/controller/LikeControllerTest.java
  src/test/java/com/cupid/jikting/meeting/controller/InstantMeetingControllerTest.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
  src/test/java/com/cupid/jikting/member/service/MemberServiceTest.java
  src/test/java/com/cupid/jikting/recommend/controller/RecommendControllerTest.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
Labels: fix, bug, test

#106 [SP-158] 채팅방 목록 조회 기능 구현
  src/main/java/com/cupid/jikting/chatting/controller/ChattingRoomController.java
  src/main/java/com/cupid/jikting/chatting/entity/Chatting.java
  src/main/java/com/cupid/jikting/chatting/entity/ChattingRoom.java
  src/main/java/com/cupid/jikting/chatting/entity/MemberChattingRoom.java
  src/main/java/com/cupid/jikting/chatting/service/ChattingRoomService.java
  src/main/java/com/cupid/jikting/chatting/service/StompChattingService.java
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/meeting/entity/ConfirmStatus.java
  src/main/java/com/cupid/jikting/meeting/entity/Meeting.java
  src/main/java/com/cupid/jikting/member/entity/Member.java
  src/main/java/com/cupid/jikting/member/entity/MemberProfile.java
  src/test/java/com/cupid/jikting/chatting/controller/ChattingRoomControllerTest.java
  src/test/java/com/cupid/jikting/chatting/service/ChattingRoomServiceTest.java
  src/test/java/com/cupid/jikting/chatting/service/StompChattingServiceTest.java
Labels: feature, fix, test

#111 [SP-186] 팀 등록 기능 구현
  src/main/java/com/cupid/jikting/common/entity/Personality.java
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/team/dto/TeamRegisterRequest.java
  src/main/java/com/cupid/jikting/team/dto/TeamRegisterResponse.java
  src/main/java/com/cupid/jikting/team/entity/Team.java
  src/main/java/com/cupid/jikting/team/repository/PersonalityRepository.java
  src/main/java/com/cupid/jikting/team/repository/TeamRepository.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/member/service/MemberServiceTest.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
  src/test/java/com/cupid/jikting/team/repository/PersonalityRepositoryTest.java
  src/test/java/com/cupid/jikting/team/repository/TeamRepositoryTest.java
  src/test/java/com/cupid/jikting/team/service/TeamServiceTest.java
Labels: feature, test

#114 [SP-187] 팀 참여 기능 구현
  src/main/java/com/cupid/jikting/chatting/controller/ChattingRoomController.java
  src/main/java/com/cupid/jikting/member/entity/MemberProfile.java
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/entity/Team.java
  src/main/java/com/cupid/jikting/team/entity/TeamMember.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/chatting/controller/ChattingRoomControllerTest.java
  src/test/java/com/cupid/jikting/chatting/service/ChattingRoomServiceTest.java
  src/test/java/com/cupid/jikting/member/service/MemberServiceTest.java
  src/test/java/com/cupid/jikting/recommend/service/RecommendServiceTest.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
  src/test/java/com/cupid/jikting/team/service/TeamServiceTest.java
Labels: feature, test

#116 [SP-188] 팀 조회 기능 구현
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/common/repository/PersonalityRepository.java
  src/main/java/com/cupid/jikting/member/entity/Mbti.java
  src/main/java/com/cupid/jikting/member/entity/MemberProfile.java
  src/main/java/com/cupid/jikting/member/entity/ProfileImage.java
  src/main/java/com/cupid/jikting/team/dto/MemberProfileResponse.java
  src/main/java/com/cupid/jikting/team/dto/MemberResponse.java
  src/main/java/com/cupid/jikting/team/dto/TeamResponse.java
  src/main/java/com/cupid/jikting/team/entity/Team.java
  src/main/java/com/cupid/jikting/team/entity/TeamPersonality.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/common/repository/PersonalityRepositoryTest.java
  src/test/java/com/cupid/jikting/recommend/controller/RecommendControllerTest.java
  src/test/java/com/cupid/jikting/recommend/service/RecommendServiceTest.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
  src/test/java/com/cupid/jikting/team/repository/TeamRepositoryTest.java
  src/test/java/com/cupid/jikting/team/service/TeamServiceTest.java
Labels: feature, test

#122 [SP-222] 받은 호감 목록 조회 기능 구현
  src/main/java/com/cupid/jikting/jwt/service/JwtService.java
  src/main/java/com/cupid/jikting/like/controller/LikeController.java
  src/main/java/com/cupid/jikting/like/dto/LikeResponse.java
  src/main/java/com/cupid/jikting/like/service/LikeService.java
  src/main/java/com/cupid/jikting/member/entity/Member.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/main/java/com/cupid/jikting/team/entity/Team.java
  src/main/java/com/cupid/jikting/team/entity/TeamMember.java
  src/main/java/com/cupid/jikting/team/repository/TeamLikeRepository.java
  src/main/java/com/cupid/jikting/team/repository/TeamMemberRepository.java
  src/test/java/com/cupid/jikting/like/controller/LikeControllerTest.java
  src/test/java/com/cupid/jikting/like/service/LikeServiceTest.java
Labels: feature, fix, refactor, test

#124 [SP-226] 보낸 호감 목록 조회 구현
  src/main/java/com/cupid/jikting/like/controller/LikeController.java
  src/main/java/com/cupid/jikting/like/dto/LikeResponse.java
  src/main/java/com/cupid/jikting/like/service/LikeService.java
  src/main/java/com/cupid/jikting/team/entity/TeamMember.java
  src/test/java/com/cupid/jikting/like/controller/LikeControllerTest.java
  src/test/java/com/cupid/jikting/like/service/LikeServiceTest.java
Labels: feature, test

#130 [SP-190] 팀 삭제 기능 구현
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/team/repository/TeamRepositoryTest.java
  src/test/java/com/cupid/jikting/team/service/TeamServiceTest.java
Labels: feature, test

#132 [SP-224] 받은 호감 거절 구현
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/like/service/LikeService.java
  src/main/java/com/cupid/jikting/team/entity/TeamLike.java
  src/test/java/com/cupid/jikting/like/service/LikeServiceTest.java
Labels: feature, test

#136 [SP-184] 채팅 메시지 전송 기능 실패 테스트 추가
  src/test/java/com/cupid/jikting/chatting/repository/ChattingRoomRepositoryTest.java
  src/test/java/com/cupid/jikting/chatting/service/StompChattingServiceTest.java
Labels: test

#134 [SP-203] 회원 탈퇴 기능 구현
  src/main/java/com/cupid/jikting/member/entity/Member.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/repository/MemberRepositoryTest.java
  src/test/java/com/cupid/jikting/member/service/MemberServiceTest.java
Labels: feature, test

#137 [SP-195] 번개팅 목록 조회 기능 구현
  src/main/java/com/cupid/jikting/meeting/controller/InstantMeetingController.java
  src/main/java/com/cupid/jikting/meeting/dto/InstantMeetingResponse.java
  src/main/java/com/cupid/jikting/meeting/entity/InstantMeeting.java
  src/main/java/com/cupid/jikting/meeting/entity/InstantMeetingMember.java
  src/main/java/com/cupid/jikting/meeting/repository/InstantMeetingRepository.java
  src/main/java/com/cupid/jikting/meeting/service/InstantMeetingService.java
  src/main/java/com/cupid/jikting/member/entity/MemberProfile.java
  src/test/java/com/cupid/jikting/meeting/controller/InstantMeetingControllerTest.java
  src/test/java/com/cupid/jikting/meeting/service/InstantMeetingServiceTest.java
Labels: feature, test
