Repository SWM-Cupid/jikting-backend, pull requests merged in 2023-06, with the labels that each got.

#2 [SP-21] 프로젝트 초기 세팅
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
  src/main/java/com/cupid/jikting/JiktingBackendApplication.java
  src/main/java/com/cupid/jikting/common/controller/ApplicationExceptionHandler.java
  src/main/java/com/cupid/jikting/common/dto/ErrorResponse.java
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/common/error/ApplicationException.java
  src/main/java/com/cupid/jikting/common/error/BadRequestException.java
  src/main/java/com/cupid/jikting/common/error/DuplicateException.java
  src/main/java/com/cupid/jikting/common/error/NotEqualException.java
  src/main/java/com/cupid/jikting/common/error/NotFoundException.java
  src/main/java/com/cupid/jikting/common/error/UnAuthorizedException.java
  src/main/java/com/cupid/jikting/common/error/WrongAccessException.java
  src/main/java/com/cupid/jikting/common/error/WrongFromException.java
  src/main/resources/application.properties
  src/test/java/com/cupid/jikting/ApiDocument.java
  src/test/java/com/cupid/jikting/EnableMockMvc.java
  src/test/java/com/cupid/jikting/JiktingBackendApplicationTests.java
Labels: feature

#5 [SP-23] 회원 등록 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/SignupRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/main/resources/application.properties
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#10 [SP-26] 회원 수정 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/docs/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/MemberUpdateRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#14 [SP-29] 미팅팀 조회 API 명세서 수정
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/recommend/controller/RecommendController.java
  src/main/java/com/cupid/jikting/recommend/dto/RecommendResponse.java
  src/main/java/com/cupid/jikting/recommend/service/RecommendService.java
  src/test/java/com/cupid/jikting/recommend/controller/RecommendControllerTest.java
Labels: docs, fix, test

#15 [SP-24] 회원 조회 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/MemberResponse.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#18 [SP-117] 받은 호감 목록 조회 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/meeting/controller/MeetingController.java
  src/main/java/com/cupid/jikting/meeting/dto/TeamProfileResponse.java
  src/main/java/com/cupid/jikting/meeting/service/MeetingService.java
  src/test/java/com/cupid/jikting/meeting/controller/MeetingControllerTest.java
  src/test/java/com/cupid/jikting/recommend/controller/RecommendControllerTest.java
Labels: feature, docs, test

#21 [SP-129] 회원 프로필 조회 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/ImageResponse.java
  src/main/java/com/cupid/jikting/member/dto/MemberProfileResponse.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test

#20 [SP-121] 보낸 호감 목록 조회 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/meeting/controller/MeetingController.java
  src/main/java/com/cupid/jikting/meeting/service/MeetingService.java
  src/main/java/com/cupid/jikting/team/controller/TeamController.java
  src/main/java/com/cupid/jikting/team/dto/TeamProfileResponse.java
  src/main/java/com/cupid/jikting/team/service/TeamService.java
  src/test/java/com/cupid/jikting/recommend/controller/RecommendControllerTest.java
  src/test/java/com/cupid/jikting/team/controller/TeamControllerTest.java
Labels: feature, docs, fix, test

#24 [SP-28] 회원 비밀번호 수정 API 명세서 작성
  src/docs/asciidoc/index.adoc
  src/main/java/com/cupid/jikting/common/error/ApplicationError.java
  src/main/java/com/cupid/jikting/member/controller/MemberController.java
  src/main/java/com/cupid/jikting/member/dto/PasswordUpdateRequest.java
  src/main/java/com/cupid/jikting/member/service/MemberService.java
  src/test/java/com/cupid/jikting/member/controller/MemberControllerTest.java
Labels: feature, docs, test
